<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>WebSocket Test</title> 
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script language="javascript" type="text/javascript">
			var wsUri = "ws://localhost:9000/watchCollection";
			var output;
			function init() {
				output = document.getElementById("output"); testWebSocket();
				document.getElementById("message").addEventListener("submit", function(evt) {
					var title = document.getElementById("title")
					var content = document.getElementById("content")
					console.log(title.value, content.value)
					websocket.send(JSON.stringify({title: title.value, content: content.value}))
					evt.stopPropagation()
					evt.preventDefault()
				})
			}
			function testWebSocket() {
				websocket = new WebSocket(wsUri);
				websocket.onopen = function(evt) { onOpen(evt) };
				websocket.onclose = function(evt) { onClose(evt) };
				websocket.onmessage = function(evt) { onMessage(evt) };
				websocket.onerror = function(evt) { onError(evt) };
			}
			function onOpen(evt) {
				/*writeToScreen("CONNECTED");*/
			}
			function onClose(evt) { /*writeToScreen("DISCONNECTED");*/ }
			function onMessage(evt) { writeToScreen('<span style="color: blue;">' + new Date() + ': ' + evt.data+'</span>'); }
			function onError(evt) { writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data); }
			function doSend(message) { writeToScreen("SENT: " + message);  websocket.send(message); }
			function writeToScreen(message) { var pre = document.createElement("p"); pre.style.wordWrap = "break-word"; pre.innerHTML = message; output.insertBefore(pre, output.firstChild); }
			window.addEventListener("load", init, false);
		</script>
    <script>
      var scoreUri = "ws://localhost:9000/watchScore";
      var scoreOutput;
      function scoreWS() {
        console.log("setting up score ws");
        websocket = new WebSocket(scoreUri);
        websocket.onopen = function(evt) { }
        websocket.onclose = function(evt) { }
        websocket.onmessage = function(evt) {
          writeToScreen('<span style="color: green;">' + new Date() + ': ' + evt.data + '</span>');
        }
        websocket.onerror = function(evt) {
          writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
        }
      }
			function writeToScreen(message) { var pre = document.createElement("p"); pre.style.wordWrap = "break-word"; pre.innerHTML = message; output.insertBefore(pre, output.firstChild); }
      window.addEventListener("load", scoreWS, false);
    </script>
		<style type="text/css">
			label { display: block; width: 150px; }
			input#submit { display: block; }
			#message {float: left; }
			#outputWrapper { float:left; margin-left: 30px; }
		</style>
	</head>
	<body>
  <form enctype="multipart/form-data">
    <input name="file" type="file" />
    <input type="button" value="Upload" />
  </form>

  <script type="text/javascript">
    $(':button').click(function(){
        var formData = new FormData($('form')[0]);
        $.ajax({
            url: '/importer',  //server script to process data
            type: 'POST',
            // Form data
            data: formData,
            //Options to tell JQuery not to process data or worry about content-type
            cache: false,
            contentType: false,
            processData: false
        });
    });
  </script>
		<div id="outputWrapper">
			<h2>Capped collection</h2>
			<div id="output"></div>
		</div>
	</body>
</html>
